{{ define "contact" }}
<section class="container mt-14">
  <div class="flex flex-col gap-4 items-center w-full min-h-screen">
    <div class="flex w-full justify-start">
      <h3 class="text-3xl font-semibold uppercase tracking-tighter">{{ .RouteName }}</h3>
    </div>
    <div class="flex flex-col items-center text-gray-600 mb-4 gap-4">
      <p class="text-center w-1/2">For any inquiries or assistance, please reach out to us using the following contact details:</p>
      <div class="flex flex-col">
        <div class="flex items-center mb-2">
          <span class="text-gray-700">Phone: 503-204-0502</span>
        </div>
        <div class="flex items-center">
          <span class="text-gray-700">Address: 420 Yoyo Avenue</span>
        </div>
      </div>
      <form class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
          Name
        </label>
        <input
          class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="name"
          type="text"
          placeholder="Enter your name"
        />
      </form>
      <div class="text-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >
          Submit
        </button>
      </div>
    </div> 
  </div>
{{ end }}
