{{ define "navbar" }}
<nav class="grid w-full justify-between bg-lime-50/80 transition-all ease-in-out duration-300 hover:bg-lime-100 grid-cols-2 md:grid-cols-8 p-4 md:px-16">
    <div class="flex w-full gap-4 items-center col-span-1 md:col-span-4">
      <h1 class="tracking-tight font-medium text-xl md:text-2xl text-lime-500">Pool.<span class="text-slate-800">Tech</span></h1>
    </div>
      <ul class="hidden md:flex w-full items-center h-fit justify-end gap-8 px-8 text-lg md:col-span-4">
      <li><a href="/" class="font-light text-lime-900">Home</a></li>
      <li><a href="/debug" class="font-light text-lime-900">Debug</a></li>
      <li><a href="/about" class="font-light text-lime-900">About</a></li>
      <li><a href="/contact" class="font-light text-lime-900">Contact</a></li>
      <a href="/login">
        <li class="px-6 py-2 rounded-[16px] font-medium cursor-pointer bg-lime-600 hover:bg-lime-700 border-lime-500 hover:border-lime-300 transition-all ease-in-out duration-75 text-lime-50 border-2">Login</li>
      </a>
      </ul>
    <!-- Hamburger icon -->
    <div class="flex w-full justify-end items-center md:hidden">
      <button
      type="button"
      class="text-gray-600 hover:text-gray-900 focus:outline-none focus:text-gray-900"
      aria-label="Toggle menu"
      >
        <svg
          class="w-6 h-6 fill-current"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="hidden"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4 6h16V5H4v1zm0 5h16v-1H4v1zm16 4H4v1h16v-1z"
          />
          <path
            class="block"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4 6h16V5H4v1zm0 5h16v-1H4v1zm16 4H4v1h16v-1z"
          />
        </svg>
      </button>
    </div>
  </nav>
  {{end}}