{{ define "operators" }}
<section class="container my-6 transitional-all ease-in-out duration-75"> 
  <div class="flex flex-col w-full p-4 md:p-0 min-h-screen">
    <div class="flex w-full justify-start">
      <h3 class="text-3xl font-semibold uppercase tracking-tighter">{{ .RouteName }}</h3>
    </div>
    <div class="flex flex-col items-center text-gray-600 mb-4 gap-4">
      <p class="text-center">This would be a list of available node operators or people that want to run a node from Pool Tech pool.</p>
    </div> 
  </div>
</section>
{{ end }}
